<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.brisktouch.timeline"
          android:versionCode="1"
          android:versionName="1.0">
    <!--<uses-sdk android:minSdkVersion="7"/>-->
    <uses-configuration android:minSdkVersion="7"/>
    <uses-configuration android:targetSdkVersion="21"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:label="@string/app_name" android:icon="@drawable/icon_lr">

        <activity android:name=".MainActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".WelcomeActivity"
                  android:label="WelcomeActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="MyActivity"
                  android:label="@string/app_name"
                  android:theme="@style/MyTheme"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".add.StyleActivity"
                  android:label="@string/style_activity_name"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".add.Style1"
                  android:label="style1"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".style.HumanStyleActivity"
                  android:label="humanStyle"
                  android:screenOrientation="portrait">
        </activity>

    </application>
</manifest>
